@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins:ital,wght@0,200;0,300;1,100;1,200&family=Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Poppins:ital,wght@0,200;0,300;1,100;1,200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: 1px 0px 20px 12px rgba(245, 245, 245, 0.102);
}
